html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.head-tina {
    text-align: center;
    margin: 10px;
    font-size: 100px;
    color: cadetblue;
     
}

.list-text {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 0;
}
.list-text a{
    font-size: 24px;
    text-decoration: none;
    color: rgb(66, 125, 177);
}
footer {
    position: absolute;
    top: 95%;
}

#footer-link {
    font-size: 30px;
    text-decoration: none;
    color: rgb(118, 8, 8);
}

.image {
    display: flex;
    justify-content: space-evenly;
    height: auto;
    margin: 25;
}

img {
    width: 100px;
}


